<section id="about_main">
  <div class="container">
    <header>
      <h1>About Dual Aperture International</h1>
    </header>
    <div id="about">
      <p>
        Dual Aperture International Co. Ltd. is a joint venture of Dual Aperture, Inc. and the Center for Integrated Smart Sensors (CISS). The new entity is set to be the leader in image sensor technology and enable the groundbreaking smart sensor technology on multiple platforms and devices. Dual Aperture's proprietary 4-color sensor technologies and algorithms utilize 3D image capturing and other imaging enhancements to create a multi-functional, low cost technology that can be integrated into many consumer, automotive, and industrial products. Dual Aperture's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience. The CISS is a research institute supported by the Korea Advanced Institute of Science and Technology (KAIST), the leading university in Korea dedicated to technological advancement, funded by Korea government for a period of 9 years (2011~2020) with about $10 million/year. With such support, more than 500 research engineers including professors, research professors, and graduate students can contribute to R&D projects in various areas such as biological, medical, vehicle, environment, camera, and mobile sensors.
      </p>
      <p>
        The goals of Dual Aperture International are to : (1) develop innovative devices, circuits, and system-level enabling technologies to overcome the stagnant growth of IT, (2) develop common platforms on which various devices and sensors can be built and (3) create ‘multi-dimensional smart IT convergence systems’ with significantly improved Figure of Merits in information processing speed, energy, and volume based on the optimization of platform performances through the convergence of hardware and software technologies
      </p>
    </div>
    <article id="biographies">
      <h1>Our Team</h1>
      <% @team_members.in_groups_of(3).each do |group| %>
        <div class="row-fluid">
          <% group.each do |member| %>
            <% unless member.nil? %>
              <div class="span4">
                <%= link_to (image_tag(member.picture_url(:thumb), class: 'portrait')), '#', class: 'member_modal_link', :data => {:id => member.id} %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <h1>CISS Team</h1>
      <% @ciss_members.in_groups_of(3).each do |group| %>
        <div class="row-fluid">
          <% group.each do |member| %>
            <% unless member.nil? %>
              <div class="span4">
                <%= link_to (image_tag(member.picture_url(:thumb), class: 'ciss_portrait')), '#', class: 'member_modal_link', :data => {:id => member.id} %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </article>
    <article id="advisory_board">
      <h1>Advisory Board</h1>
      <%= link_to "Professor Hae-Seung Lee", "http://www-mtl.mit.edu/researchgroups/hslee/" %>, Director of MIT's Center of Integrated Circuits and Systems and Associate Director of MTL.<br>
      <%= link_to "Philippe Tarbouriech", "http://phitar.com/Philippe_Tarbouriech/welcome.html" %>, Photographer and technologist.
    </article>
    <article id="google_maps_section">
      <%= image_tag "google_static_image.png" %>
    </article>
  </div>
</section>

<div id="portrait_modal" class="modal hide fade">
  <div class="modal-header">
    <h4 class="member_name"></h4>
    <h4 class="company_title"></h4>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
  </div>
</div>