<section id="about_main">
  <div class="container">
    <header>
      <h1>OUR TEAM</h1>
      <div class="subheader">
        <h3>
          We are individuals coming together to bring about a revolution in photography.
        </h3>
      </div>
    </header>
    <article id="biographies">
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag "davidLeeProfile.png", class: "portrait" %>
          <h4>David D. Lee</h4>
          <h4 class="company_title">The Mastermind</h4>
          <p>
            David has a long history of taking products from early stage development to finding product-market fit with proven business models. Dual Aperture, in particular, is close to David's heart because the groundbreaking nature of the technology has the potential to change how people will take and think of photographs forever. Prior to founding Dual Aperture, David played an integral role in creating DVI and HDMI standards as founder and CEO of Silicon Image. He received his BS, MS and Ph.D. in EECS from UC Berkeley and currently resides in Palo Alto, CA.
          </p>
        </div>
        <div class="span4">
          <%= image_tag "andrewWajsProfile.png", class: "portrait" %>
          <h4>Andrew Wajs</h4> 
          <h4 class="company_title">The Architect</h4>
          <p>
            Andrew's love of photography has led him on a journey across the world, with his photos appearing in gallery exhibits in South Africa and the Netherlands. Today, Andrew continues to explore his passion by utilizing his mastery of technologies and related disciplines to bring innovation into the camera itself. Andrew leads the Dual Aperture technology team as the chief architect and holds a MSc in Electrical Engineering from the University of Witwatersrand.          
          </p>
        </div>
        <div class="span4">
          <%= image_tag "bruceLeeProfile.png", class: "portrait" %>
          <h4>Bruce Lee</h4> 
          <h4 class="company_title">ShiFu</h4>
          <p>
            The resident sensei of corporate operations and business development, Bruce is a veteran of over two decades in the IT industry.  Prior to joining DA, Bruce worked in several industry-leading companies such as Synnex Group, Phoenix, and PQI in the Greater China Region. He received his BS in Electrical Engineering from Chung-Yuan Christian University in Taiwan and in his free time enjoys hitting the little white ball across the great green plains.           
          </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag "hankLeeProfile.png", class: "portrait" %>
          <h4>Hank Lee</h4>
          <h4 class="company_title">The Hub</h4>
          <p>
            Hank has a passion for finding innovative ways to bring new technologies into the everyday lives of people around him. At Dual Aperture, Hank is the central cog that connects cutting-edge engineering to marketing & sales. Prior to Dual Aperture, Hank was the Director of Product Marketing at Nano Technology Laboratory. In his spare time, Hank loves taking new friends out golfing.
          </p>
        </div>
        <div class="span4">
          <%= image_tag "manuelMartinelloProfile.png", class: "portrait" %>
          <h4>Manuel Martinello</h4> 
          <h4 class="company_title">The Blur</h4>
          <p>
            Manuel is an expert in Computational Photography and has spent several years in researching and designing technologies for encoding (and successively decoding) the 3D model of a scene in a single photograph. Manuel's role at Dual Aperture could be considered to be more 'in depth' -- literally. He is working on developing new algorithms for calculating the distance of objects using a single camera shot and applications that can utilize 3D information, such as 'Touch-Refocusing' and '3D image generation'. Prior to Dual Aperture, Manuel was a lecturer at the University of York (UK) and received his Ph.D. from Heriot-Watt University (UK) and his MSc in Computer Engineering from the University of Padua (Italy).          
          </p>
        </div>
        <div class="span4">
          <%= image_tag "seanQuanProfile.png", class: "portrait" %>
          <h4>Sean Quan</h4> 
          <h4 class="company_title">Macbeth</h4>
          <p>
            It's safe to say that Sean has probably seen the Macbeth color chart more times than almost anybody else has in the western hemisphere. Sean is a leading expert in the field of Imaging Science with over 20 publications and nearly 20 patent grants. Sean brings with him over 15 years of specialized experience in optical science, color science, advanced image processing, and image quality. His research has been instrumental to the development of a multitude of sophisticated image signal processors in the market today. At Dual-Aperture, he is responsible for improving imaging quality and designing the RGB-infrared signal based image pipeline.
          </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag "seungOhRyuProfile.png", class: "portrait" %>
          <h4>Seungoh Ryu</h4>
          <h4 class="company_title">Conductor</h4>
          <p>
            Seungoh is the lead developer for the gesture tracking algorithms and related applications. He is also the founder and chief programmer of iStormApps and is a Stanford trained theoretical physicist whose research papers have been published in Science, Nature and Physical Review Letters. Seungoh's prized contribution was co-inventing a novel borehole probe technique using non-resonant NMR technology. Lastly, Seungho is an avid collector of all kinds of music, but favors Bach above all others.
          </p>
        </div>
        <div class="span4">
          <%= image_tag "tkWooProfile.png", class: "portrait" %>
          <h4>Taekun Woo</h4> 
          <h4 class="company_title">Dos Semanas</h4>
          <p>
            TK is the lead engineer responsible for the image enhancement and depth map generation algorithms and the packaging of applications/libraries to deliver DA’s algorithm to customers.  Prior to starting Dual Aperture, TK worked for over 15 years with embedded systems in Silicon Valley and Orange County. He received his BS and MS in Computer Science from Korea University.          
          </p>
        </div>
      </div>
    </article>
    <article id="advisory_board">
      <h1>Advisory Board</h1>
      <%= link_to "Professor Hae-Seung Lee", "http://www-mtl.mit.edu/researchgroups/hslee/" %>, Director for MIT's Center of Integrated Circuits and Systems and Associate Director of MTL.<br>
      <%= link_to "Philippe Tarbouriech", "http://phitar.com/Philippe_Tarbouriech/welcome.html" %>, Photographer and technologist.
    </article>
    <article id="google_maps_section">
      <%= image_tag "google_static_image.png" %>
    </article>
  </div>
</section>