<section id="about_main">
  <div class="container">
    <header>
      <h1>About Dual Aperture International</h1>
    </header>
    <div id="about">
      <p>
        Dual Aperture International Co. Ltd. is a joint venture of Dual Aperture, Inc. and the Center for Integrated Smart Sensors (CISS) supported by the Korea Advanced Institute of Science and Technology (KAIST). The new entity is positioned to lead innovation within the imaging technology space and enable the groundbreaking smart sensor technology on multiple platforms and devices.
      </p>
      <p>
        With its proprietary dual-apertured RGB-IR sensor technology and algorithms, DAI utilizes 3D image capturing and other imaging enhancements to create a multi-functional, low cost smart sensor technology that can be integrated into many consumer, automotive, and industrial products. DAI's unique depth and gesture tracking will also empower mobile camera-based applications to explore new dimensions of user experience.
      </p>
      <p>
        CISS is the leading university in Korea dedicated to technological advancement with $9 million in annual government funding to support advancement in smart sensor technology. CISS assembled a team of more than 30 industry veterans and graduate students in camera and image research to support Dual Aperture International. With such support, more than 500 research engineers including professors, research professors, and graduate students can contribute to R&D projects in various areas such as biological, medical, vehicle, environment, camera, and mobile sensors. 
      </p>
    </div>
    <article id="biographies">
      <h1>Our Team</h1>
      <% @team_members.in_groups_of(3).each do |group| %>
        <div class="row-fluid">
          <% group.each do |member| %>
            <% unless member.nil? %>
              <div class="span4">
                <%= link_to (image_tag(member.picture_url(:thumb), class: 'ciss_portrait')), '#', class: 'member_modal_link', :data => {:id => member.id} %>
                <h4><%= member.name %></h4>
                <h4 class='company_title'><%= member.nickname %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </article>
    <article id="advisory_board">
      <h1>Advisory Board</h1>
      <%= link_to "Professor Hae-Seung Lee", "http://www-mtl.mit.edu/researchgroups/hslee/" %>, Director of MIT's Center of Integrated Circuits and Systems and Associate Director of MTL.<br>
      <%= link_to "Philippe Tarbouriech", "http://phitar.com/Philippe_Tarbouriech/welcome.html" %>, Photographer and technologist.
    </article>
    <article id="google_maps_section">
      <ul class='nav nav-tabs'>
        <li class='active'>
          <a href='#korean' data-toggle='tab'>Korean Office</a>
        </li>
        <li>
          <a href='#us' data-toggle='tab'>U.S Office</a>
        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='korean'>
          <%= image_tag 'DAI_korea.png' %>
        </div>
        <div class='tab-pane' id='us'>
          <%= image_tag 'DAI_us.png' %>
        </div>
      </div>
    </article>
  </div>
</section>

<div id="portrait_modal" class="modal hide fade">
  <div class="modal-header">
    <h4 class="member_name"></h4>
    <h4 class="company_title"></h4>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
  </div>
</div>