<section id="blog_posts_main">
  <article id="blog_posts">
    <div class="row-fluid">
      <div class="span9">
        <% @posts.each do |post| %>
          <div class="row-fluid">        
            <div class="span4">
<!--               <article id=<%= "reblog_#{post.id}"%> class="reblog">
                <button type="button" class="btn btn-default">
                  <i class="icon-reply"></i>
                </button><br>
                <div class="post_created_at">
                  <%= "#{post.created_at}" %>
                </div>
              </article>
 -->            </div>
            <div class="span8">
              <article id=<%= "post_#{post.id}"%> class="posts">
                <h3><%= post.title %></h3>
                <p>
                  <span class="description"><%= simple_format(post.description) %></span><br>
                  <span class="embedded_link"><%= post.link.html_safe if post.link %></span>
                </p>
                <%= link_to '', "/blog_posts/#{post.id}#disqus_thread" %>
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsignup.dual-aperture.com%2Fblog_posts&amp;width=100px&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100pxpx; height:80px;" allowTransparency="true"></iframe>
              </article>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div id="sidebar" class="span3">
<!--         <h4>Start contributing content!</h4>
        <p>
          Write blog posts describing your experiences with Dual Aperture's technology. You may also post replies to others' posts as well.
        </p>
        <a href="#" id="new_post" class='btn btn-primary btn-med'>
          Create New Post
        </a>
        <hr>
 -->        <h4>Sign up for our weekly newsletter!</h4>
        <p>
          Enter your email address below to receive weekly updates on the latest developments for our product.
        </p>
        Email Address<br>
        <input></input>
        <%= button_tag "Submit" %>
      </div>
    </div>
  </article>
  <div id="new_blog_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= form_for :blog_post do |f| %>
      <div class="modal-header">
        <button type="button" class="close close_modal" aria-hidden="true">×</button>
        <h4 id="title_input">Title</h4>
        <%= f.text_field :title %>
      </div>
      <div class="modal-body">
        <h4 id="description_input">Description</h4>
        <%= f.text_area :description %>
        <h4 id="embedded_link_input">Embed link:</h4>
        <%= f.text_field :link %>
      </div>
      <div class="modal-footer">
        <button class="btn cancel" aria-hidden="true">Close</button>
        <%= f.submit class: "btn btn-primary close_modal" %>
      </div>
    <% end %>
  </div>
</section>