<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="divider-vertical"><%= link_to "News", home_path %></li>
        <li class="divider-vertical"><%= link_to "Testimonials", about_path %></li>
        <li class="divider-vertical"><%= link_to "Pricing", about_path %></li>
        <li class="divider-vertical"><%= link_to "Legal", about_path %></li>
        <li class="divider-vertical"><%= link_to "Jobs", about_path %></li>
        <li class="divider-vertical"><%= link_to "Contact", about_path %></li>

      </ul>
    </div>
  </div>
</div>