<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active divider-vertical"><%= link_to(image_tag("dualApertureLogo.png", class: 'media-small'), home_path) %></li>
      <li class="divider-vertical"><%= link_to "About", '#' %></li>
      <li class="divider-vertical"><%= link_to "Features", '#' %></li>
      <li class="divider-vertical"><%= link_to "Blog", '#' %></li>
      <li class="divider-vertical"><%= link_to "Forum", '#' %></li>
    </ul>
  </div>
</div>
