<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SampleApp</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= render "layouts/navbar" %>
  <body>
    <%= yield %>
    <%= render "shared/disqus_comments" %>
  </body>
  <%= render "layouts/footer" %>
</html>
